form {
	width: 300px;
    margin: 200px auto 0;
}

.btn-primary:not(.btn-link):not(.btn-flat) {
	background-color: #000;
}

.navbar {
  margin-bottom: 0;
  background-color: #000;
}

/*#map {
    height: 600px;
    width: 100%;
}*/

.angular-google-map-container {
	height: 600px;
	width: 100%;
}
