cffi==1.5.2
cryptography==1.2.3
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.7.1
django-appconf==0.6
django-compressor==1.4
djangorestframework==3.0.0
drf-nested-routers==0.9.0
enum34==1.1.2
gunicorn==19.1.1
idna==2.0
ipaddress==1.0.16
ndg-httpsclient==0.4.0
nltk==3.2
oauthlib==1.0.3
pusher==1.2.3
pyasn1==0.1.9
pycparser==2.14
pymongo==2.8
pyOpenSSL==0.15.1
python-dateutil==2.4.2
requests==2.9.1
requests-oauthlib==0.6.0
six==1.8.0
static3==0.5.1
tweepy==3.3.0
twython==3.3.0
urllib3==1.14
