<!DOCTYPE html>
<html ng-app="lima">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Welcome | lima.</title>

  </head>
  <head>
    <title>Lima</title>

    <base href="/" />

    {% include 'stylesheets.html' %}
  </head>

  <body ng-controller="limaCtrl">

    {% include 'navbar.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 ng-view"></div>
      </div>
    </div>


    {% include 'javascripts.html' %}

  </body>
</html>
