<div id="map"></div>
<script>
  function initMap() {
    console.log("am i here yet?")
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
      center: {lat: 37.09024, lng: -95.712891},
      zoom: 4
    });

    var marker = new google.maps.Marker({
      position: {lat: 37.773972, lng: -122.431297},
      map: map,
      title: 'Click to zoom'
    });
  }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2_mHJ-X0M2GHQHVOew0URYiMXz0VIxq0&callback=initMap()"
type="text/javascript"></script>