<!DOCTYPE html>
<html>
  <head>
    <style>
      html, body {
        height: 100%;
        width: 100%;
      }
      #map {
        height: 500px;
        width: 100%;
        margin-top: auto;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 37.09024, lng: -95.712891},
          zoom: 4
        });

        var marker = new google.maps.Marker({
          position: {lat: 37.773972, lng: -122.431297},
          map: map,
          title: 'Click to zoom'
        });
      }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap">
    </script>
  </body>
</html>
